{% extends "searchbot/index.html" %} {% block content %}
<div class="container">
    <h2>{% if form_type %}{{ form_type }}{% else %}Edit{% endif %} Search</h2>
    {% load crispy_forms_tags %}
    <form method="post" action="" class="my-4">
        {% csrf_token %} {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    {% if messages %} {% for msg in messages %}
    <div class="alert alert-danger my-4">
        <strong>{{ msg }}</strong>
    </div>
    {% endfor %} {% endif %}
</div>
{% endblock %}
