{% extends "searchbot/index.html" %} {% block content %}
<div class="container">
    <h2>Login</h2>
    {% load crispy_forms_tags %}
    <form method="post" action="" class="my-4">
        {% csrf_token %} {{ login_form|crispy }}
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    {% if messages %} {% for msg in messages %}
    <div class="alert alert-danger my-4">
        <strong>{{ msg }}</strong>
    </div>
    {% endfor %} {% endif %}
    <p>
        If you can't remember your password,
        <a href="{% url 'password_reset' %}">reset it here</a>.
    </p>
    <p>
        If you don't have an account yet,
        <a href="{% url 'users:register' %}">register</a> instead.
    </p>
</div>
{% endblock %}
